<p style="text-align: left; background-color: white;">

  <a href="{{site.baseurl}}/index.html">Main Page</a> </br> 
  <a href="https://docs.google.com/document/d/1ikmPHfJHZ6sjjwIk0wDpehyRG9uS6FDG9Qy6gVTK8BY/edit?usp=sharing" target="_blank">Syllabus</a> </br>
  <a href="{{site.baseurl}}/weeklyagenda.html">Weekly Agendas</a> </br>
  <a href="https://drive.google.com/drive/folders/10cq8veXYD6fe2KAWvTfcEm7txt75ndPe?usp=drive_link" target="_blank">Course Folder</a></br>
  <a href="{{site.baseurl}}/resources.html">Resources</a></br>
<!--  
  <a href="{{site.baseurl}}/assignments.html">Assignments & Projects</a> </br> 
 >-->
</p>